@{
    ViewData["Title"] = "Panel de Administrador";
    Layout = "_Layout";
}
@model Plataforma.Models.Administracion.AdministracionViewModel

<link rel="stylesheet" href="~/css/administrador/panel.css" asp-append-version="true" />


<div class="title-list-s">
    <h2>Lista de Estudiantes</h2><i class="fa-solid fa-chevron-up"></i>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ListaEstudiantes.FirstOrDefault().Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListaEstudiantes.FirstOrDefault().Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListaEstudiantes.FirstOrDefault().Email)
                </th>
                <th></th>
                <th></th>
            </tr> 
         </thead> 
         <tbody> 
             @foreach (var item in Model.ListaEstudiantes) 
             { 
                 <tr> 
                     <td> 
                         @Html.DisplayFor(modelItem => item.Nombre) 
                     </td> 
                     <td> 
                         @Html.DisplayFor(modelItem => item.Apellido) 
                     </td> 
                     <td> 
                         @Html.DisplayFor(modelItem => item.Email) 
                     </td> 
                     <td> 
                         <a asp-controller="administrador" asp-action="editar_estudiantes" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Editar</a> 
                     </td> 
                     <td> 
                         <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModalEstudiante" data-student-id="@item.Id" data-student-name="@item.Nombre @item.Apellido">Eliminar</button> 
                     </td> 
                 </tr> 
             } 
         </tbody> 
     </table>
 </div>



<div class="title-list-p">
    <h2>Lista de Profesores</h2><i class="fa-solid fa-chevron-up"></i>
</div>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ListaProfesores.FirstOrDefault().Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListaProfesores.FirstOrDefault().Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListaProfesores.FirstOrDefault().Email)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaProfesores)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-controller="administrador" asp-action="editar_profesores" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Editar</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModalProfesor" data-profesor-id="@item.Id" data-profesor-name="@item.Nombre @item.Apellido">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade" id="confirmDeleteModalEstudiante" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar a <span id="studentToDeleteName"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="deleteFormEstudiante" asp-controller="Estudiantes" asp-action="Delete" method="post">
                    <input type="hidden" id="studentToDeleteId" name="id" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirmDeleteModalProfesor" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar a <span id="profesorToDeleteName"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="deleteFormProfesor" asp-controller="Profesores" asp-action="Delete" method="post">
                    <input type="hidden" id="profesorToDeleteId" name="id" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="confirmDeleteModalProfesor" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar a <span id="profesorToDeleteName"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="deleteFormProfesor" asp-controller="Profesores" asp-action="Delete" method="post">
                    <input type="hidden" id="profesorToDeleteId" name="id" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>










<script src="~/js/administrador/panel.js" asp-append-version="true"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}